.sexItUpFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    color: black;
    text-align: center;
    opacity: 0.6;
}

.index {
    text-align: center;
}